@import "../../../../styles.scss";

.app-navigation {
  display: flex;

  &__header {
    margin-bottom: 0.4rem;
  }

  & a:hover {
    color: var(--primary-hover);
    outline: none;
  }
}

.mainNav {
  gap: 2rem;

  & li a {
    color: var(--text-nav);
    position: relative;
    &.active {
      color: var(--primary-hover-active);
    }
  }
}

.normal-nav {
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.account-box-nav {
  gap: 2rem;
  align-items: baseline;

  & li {
    display: none;
  }

  & li a {
    position: relative;
    color: var(--text-nav);
    &.active {
      color: var(--primary-hover-active);
    }
  }

  @media (max-width: 600px) {
    height: 90%;
    font-size: 1.6rem;
    flex-direction: column;

    & li {
      display: block;
    }
  }
}
