<ng-container>
  <h2>Security</h2>
  <div class="change-pass-container">
    <p>
      <span>
        <fa-icon [icon]="lock"></fa-icon>
      </span>
      Change Password
    </p>
    <form class="change-pass-form" [formGroup]="passwordChangeForm">
      <app-input
        *ngFor="let passInput of generateInputs(); trackBy: trackByIndex"
        [formControlName]="passInput.formControlName"
        [parentForm]="passwordChangeForm"
        [labelName]="passInput.labelName"
        [inputName]="passInput.formControlName"
        [inputType]="'password'"
        [placeholder]="passInput.placeholderText"
      ></app-input>
      <span *ngIf="errorMsg$ | async as errorMsg" class="error">{{
        errorMsg
      }}</span>
      <div class="btn-cotainer">
        <app-button
          [content]="'Cancel'"
          [btnSize]="btnSize.SMALL"
          [outlined]="false"
          (click)="navigateToMyAccount()"
        ></app-button>
        <app-button
          [content]="'Change Password'"
          [disabled]="disabled"
          [btnSize]="btnSize.MEDIUM"
          (click)="onSubmit()"
        ></app-button>
      </div>
    </form>
  </div>
</ng-container>
<app-toaster
  *ngIf="sucessMessage$ | async as sucessMessage"
  [toasterMessage]="'Password Changed'"
></app-toaster>
<app-spiner *ngIf="spinner$ | async"></app-spiner>
