:host {
  --custom-wraper-align-items: strech;
  --custom-wraper-max-width: 1250px;

  & app-input {
    &:nth-child(3) {
      margin-bottom: 28px;
    }
  }
  & app-button:nth-child(1) {
    color: var(--custom-gray-1);
  }
}

h2 {
  margin-top: 70px;
  margin-bottom: 40px;
}

p {
  display: flex;
  gap: 8px;
  font-weight: 700;
}

.change-pass-container {
  display: flex;
  gap: 145px;
  @media (max-width: 600px) {
    flex-direction: column;
    gap: 71px;
  }
}

.change-pass-form {
  border: 1px solid var(--form-bg);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 722px;
  padding: 24px 28px;
}

.btn-cotainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 32px;
}

.error {
  color: var(--error);
}
