<sidebar
  class="sidebar-menu closed"
  [ngClass]="{
    opened: isNavigationIsOpened$ | async,
    closed: (isNavigationIsOpened$ | async) === false,
    'sidebar-hidden': !isAuthorized
  }"
>
  <div class="sidebar-menu__profile-data">
    <ng-container *ngIf="isAuthorized">
      <!-- <app-custom-img [img]="accountBoxData?.img"></app-custom-img> -->
      <app-custom-img [img]="testImg"></app-custom-img>

      <div>
        <!-- <h3 class="text-small">{{ accountBoxData?.username }}</h3> -->
        <h3 class="text-small">sk23s</h3>
        <!-- <p class="text-extra-small">{{ accountBoxData?.email }}</p> -->
        <p class="text-extra-small">Emaltest</p>
      </div>
    </ng-container>
  </div>
  <app-navigation [linksList]="linksList" [accountBoxNav]="true">
    <ng-content></ng-content
  ></app-navigation>

  <span class="sign-out">
    <fa-icon [icon]="exitIcon"></fa-icon>
    <app-button
      [content]="'SignOut'"
      [btnSize]="btnSize.SMALL"
      [outlined]="false"
    >
      <fa-icon [icon]="exitIcon"></fa-icon
    ></app-button>
  </span>

  <!-- <button
    *ngIf="isAuthorized"
    class="text-small sign-out"
    (click)="logoutUser()"
  >
    <fa-icon [icon]="exitIcon"></fa-icon>
    Sign Out
  </button> -->
</sidebar>
