<div class="training-page">
  <form class="traning-form" [formGroup]="trainingForm">
    <app-button
      *ngIf="(role$ | async) === 'student'"
      [content]="'Add training'"
      [btnSize]="btnSize.MEDIUM"
      [btnType]="btnType.SECONDARY"
      (click)="navigateToAddTrainer()"
    ></app-button>
    <div class="traning-form__controles">
      <app-input
        [formControlName]="'searchStudent'"
        [parentForm]="trainingForm"
        [labelName]="'Students'"
        [inputName]="'searchStudent'"
        [placeholder]="'Name'"
      ></app-input>
      <app-input
        [formControlName]="'searchSpecialization'"
        [parentForm]="trainingForm"
        [labelName]="'Specialization'"
        [inputName]="'searchSpecialization'"
        [placeholder]="'Specialization'"
      ></app-input>
      <div class="traning-form__date-picker-container">
        <app-date-picker [initialValue]="datePickerValueOne"></app-date-picker>
        <app-date-picker [initialValue]="datePickerValueTwo"></app-date-picker>
      </div>
    </div>
    <app-button [content]="'Search'" [btnSize]="btnSize.MEDIUM"></app-button>
  </form>
  <div>
    My Passed Trainings

    <app-table
      *ngIf="myTrainings$ | async as myTrainings"
      [tableHeaders]="tableHeaders"
      [tableData]="myTrainings"
      [tableType]="'studentTrainingList'"
    ></app-table>
  </div>
</div>
