<div class="training-page">
  <form class="traning-form" [formGroup]="trainingForm">
    <app-button
      *ngIf="(role$ | async) === 'student'"
      [content]="'Add training'"
      [btnSize]="btnSize.MEDIUM"
      [btnType]="btnType.SECONDARY"
      (click)="navigateToAddTrainer()"
    ></app-button>
    <h2>Trainings</h2>
    <div class="traning-form__controles">
      <app-input
        [formControlName]="'searchStudent'"
        [parentForm]="trainingForm"
        [labelName]="
          (role$ | async) === 'trainer' ? 'Student Name' : 'Trainer Name'
        "
        [inputName]="'searchStudent'"
        [placeholder]="'Name'"
      ></app-input>
      <app-input
        *ngIf="(role$ | async) === 'student'"
        [formControlName]="'searchSpecialization'"
        [parentForm]="trainingForm"
        [labelName]="'Specialization'"
        [inputName]="'searchSpecialization'"
        [placeholder]="'Specialization'"
      ></app-input>
      <div class="traning-form__date-picker-container">
        <app-date-picker
          [label]="'From'"
          [formControlName]="'fromDate'"
          [id]="'from-date'"
        ></app-date-picker>
        <app-date-picker
          [label]="'To'"
          [formControlName]="'toDate'"
          [initialValue]="trainingForm.get('toDate')?.value"
          [id]="'to-date'"
        ></app-date-picker>
      </div>
    </div>
    <app-button
      [content]="'Search'"
      [btnSize]="btnSize.MEDIUM"
      (click)="onSearch()"
    ></app-button>
  </form>
  <div>
    <ng-container *ngIf="(role$ | async) === 'student'">
      <h2>My Passed Trainings</h2>
      <ng-container *ngIf="myTrainings$ | async as myTrainings">
        <ng-container *ngIf="myTrainings.length > 0; else noTrainersInTable">
          <app-table
            *ngIf="myTrainings; else loader"
            [tableHeaders]="tableHeaders"
            [tableData]="myTrainings"
            [tableType]="'studentTrainingList'"
          ></app-table>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="(role$ | async) === 'trainer'">
      <h2>Result</h2>
      <ng-container *ngIf="myTrainings$ | async as myTrainings">
        <ng-container *ngIf="myTrainings.length > 0; else noStudentsInTable">
          <app-table
            *ngIf="myTrainings$ | async as myTrainings; else loader"
            [tableHeaders]="teableHeadersTrainer"
            [tableData]="myTrainings"
            [tableType]="'trainerTrainingList'"
          ></app-table>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- <ng-container *ngIf="(role$ | async) === 'trainer'">
      <h2>Result</h2>
      <app-table
        *ngIf="myTrainings$ | async as myTrainings; else loader"
        [tableHeaders]="teableHeadersTrainer"
        [tableData]="myTrainings"
        [tableType]="'trainerTrainingList'"
      ></app-table>
    </ng-container> -->
  </div>
</div>

<ng-template #loader>
  <div class="loader-container">
    <app-loader></app-loader>
  </div>
</ng-template>

<ng-template #noTrainersInTable>
  <div>No Trainings added, please use add training feature</div>
</ng-template>
<ng-template #noStudentsInTable>
  <div>None of the students have selected your lessons.</div>
</ng-template>
