.app-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
  margin: 0 10px;

  & input {
    display: none;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #bcc1caff;

  border-radius: 34px;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: var(--bg-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-hover-active);
}
input:checked + .slider::before {
  transform: translateX(20px);
  background-color: #bcc1caff;
}
