.custom-header {
  background-color: var(--table-bg);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: var(--text);
}

.custom-table-row {
  background-color: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
