<app-page-wraper [pageTitle]="title">
  <ng-container class="main">
    <figure class="generic-details-page" *ngIf="blogData$ | async as blogData">
      <header class="generic-details-page__header">
        <app-custom-img [img]="blogData?.img"></app-custom-img>
        <h3 class="generic-details-page__header-title">
          {{ blogData?.title }}
        </h3>
        <span class="generic-details-page__header-date">{{
          blogData?.creationDate | date
        }}</span>
      </header>
      <div class="text-medium generic-details-page__content">
        <p>
          {{ blogData?.description }}
        </p>
        <span>{{ blogData?.tag }}</span>
      </div>
      <app-button
        [content]="'Go Back'"
        [btnSize]="btnSize.MEDIUM"
        [outlined]="false"
        (click)="goBack()"
      ></app-button>
    </figure>
  </ng-container>
</app-page-wraper>
