<app-page-wraper>
  <ng-container class="main">
    <h2>Sign in</h2>
    <h3>Welcome back</h3>
    <app-login-form [captchValid]="captchaIsValid"></app-login-form>
    <span class="custom-span">Or</span>
    <span class="custom-span"
      >Dont have an accoun? <a [routerLink]="'/join-us'">Sign up</a></span
    >
    <!-- <app-custom-img [img]="captcha"></app-custom-img> -->
    <re-captcha
      (resolved)="resolvedCaptcha($event)"
      siteKey="6LcqCisqAAAAAISuj2t66F2XokMGPh9H60ZUPseG"
    ></re-captcha>

    <app-spiner *ngIf="isLoading$ | async"></app-spiner>
    {{ changeDET() }}
  </ng-container>
</app-page-wraper>
