<div class="home-unasigned">
  <video controls>
    <source
      src="https://docs.material-tailwind.com/demo.mp4"
      type="video/mp4"
    />
  </video>
  <div class="join-us">
    <h2>Join us</h2>
    <p>
      Join our learning community today and unlock endless possibilities. Dive
      into knowledge with us!
    </p>
    <app-button [content]="'Join Us'" (click)="navigateToJoinUs()"></app-button>
    <img [src]="'../assets/imgs/circle.svg'" alt="cicle" class="circle" />
    <img [src]="'../assets/imgs/dots.svg'" alt="dots" class="dots" />
    <img [src]="'../assets/imgs/dots.svg'" alt="dots" class="dots-2" />
    <div class="full-circle"></div>
  </div>
</div>
