<app-page-wraper [pageTitle]="'Features'">
  <ng-container class="main">
    <h2>Learning</h2>
    <p class="grayed-text text-normal">
      Welcome to Learn Platform - where every day is a day to learn. Dive into
      the vast ocean of knowledge and empower yourself with the tools for a
      successful tomorrow. Heappy learning!
    </p>

    <div class="features-container">
      <app-feature-box></app-feature-box>
      <app-feature-box [isReversed]="true"></app-feature-box>
    </div>
  </ng-container>
</app-page-wraper>
