:host {
  --page-wraper-main-title-margin-bottom: 6.6rem;
}

.grayed-text {
  color: var(--text-gray);
  max-width: 780px;
  text-align: center;
  margin-bottom: 9.6rem;
}
.features-container {
  align-self: stretch;
}
