<app-page-wraper [pageTitle]="'Blog'">
  <ng-container class="main">
    <div class="blog">
      <div class="blog__box-container">
        <app-box
          *ngFor="let blog of blogData; trackBy: trackByIndex"
          [title]="blog.title"
          [readTime]="blog.readTime"
          [creationDate]="blog.creationDate"
          [img]="blog.img"
          [tag]="blog.tag"
          (click)="goToBlog(blog.id)"
        ></app-box>
      </div>
      <app-button
        *ngIf="blogData"
        [content]="'Load More Articles'"
        (click)="loadMoreBlogs()"
        [disabled]="blogData.length >= blogsDataMock.length"
      ></app-button>
    </div>
  </ng-container>
</app-page-wraper>
