.custom-image,
.spiner-container {
  overflow: hidden;
  border-radius: var(--custom-img-border-radius);
  height: var(--custom-img-height, 100%);
  max-width: var(--custom-img-max-width, 451px);
  background-color: var(--custom-img-bg-color, #cfcbf3ff);
  min-width: var(--custom-img-min-width, unset);

  @media (max-width: 768px) {
    max-width: var(--custom-img-max-width, unset);
    height: var(--custom-img-height, 288px);
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.spiner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
