<div class="wraper">
  <label *ngIf="label" [for]="label">{{ label }}</label>
  <!-- <div class="dropdown-btn" (click)="toggleMenu()">
    <span>{{ title | titlecase }}</span>
    <fa-icon [icon]="icon" class="dropdown-btn-icon"></fa-icon>
  </div> -->
  <div class="drop-down-menu" *ngIf="menuIsOpened">
    <ng-container *ngIf="type === 'specialization'">
      <!-- <div
        *ngFor="let option of specOptions()"
        class="drop-down-menu-item"
        (click)="selectOption(option)"
      >
        {{ option.specializationName | titlecase }}
      </div> -->
    </ng-container>
    <ng-container *ngIf="type === 'trainer'">
      <!-- <div
        *ngFor="let option of trainerOptions()"
        class="drop-down-menu-item"
        (click)="selectOption(option)"
      >
        {{ option.name | titlecase }}
      </div> -->
    </ng-container>
    <ng-container *ngIf="type === 'training-type'">
      <!-- <div
        *ngFor="let option of trainingTypeOption()"
        class="drop-down-menu-item"
        (click)="selectOption(option)"
      >
        {{ option.trainingTypeName | titlecase }}
      </div> -->
    </ng-container>
  </div>
</div>

<select
  [required]="required"
  class="hidden"
  [name]="name"
  [id]="name"
  [(ngModel)]="selectedOption"
>
  <ng-container *ngIf="type === 'specialization'">
    <option
      *ngFor="let option of specOptions()"
      [value]="option.specializationName"
    >
      {{ option.specializationName | titlecase }}
    </option>
  </ng-container>
  <ng-container *ngIf="type === 'trainer'">
    <option *ngFor="let option of trainerOptions()" [value]="option.name">
      {{ option.name | titlecase }}
    </option>
  </ng-container>
  <ng-container *ngIf="type === 'training-type'">
    <option
      *ngFor="let option of trainingTypeOption()"
      [value]="option.trainingTypeName"
    >
      {{ option.trainingTypeName | titlecase }}
    </option>
  </ng-container>
</select>
