<form [formGroup]="trainingForm" (ngSubmit)="onSubmit()" class="add-training">
  <h3>Training</h3>
  <div class="add-training__trainings">
    <div class="add-training__training-spec">
      <app-input
        [formControlName]="'trainingName'"
        [parentForm]="trainingForm"
        [labelName]="'Training Name'"
        [inputName]="'trainingName'"
        [placeholder]="'Name'"
      ></app-input>
      <app-input
        [formControlName]="'duration'"
        [parentForm]="trainingForm"
        [labelName]="'Duration'"
        [inputName]="'duration'"
        [placeholder]="'Duration'"
      ></app-input>
      <app-date-picker
        [label]="datePickerLabel"
        [formControlName]="'startDate'"
      ></app-date-picker>
      <app-drop-down-menu
        [label]="'Type'"
        [name]="'trainingType'"
        formControlName="trainingType"
        [options]="allTrainingTypes"
        [type]="'specialization'"
        [initialValue]="allTrainingTypes[0]"
      ></app-drop-down-menu>

      <label for="description">Description</label>
      <textarea
        rows="3"
        name="description"
        id="description"
        formControlName="description"
      ></textarea>
    </div>
    <div class="add-training__training-trainer">
      <ng-container *ngIf="allTrainers$ | async as allTrainers">
        <app-drop-down-menu
          *ngIf="allTrainers.length > 0; else noTrainers"
          [label]="'Trainers'"
          [name]="'trainer'"
          formControlName="trainer"
          [options]="allTrainers"
          [type]="'trainer'"
          [required]="true"
          [initialValue]="allTrainers[0].trainerName"
        ></app-drop-down-menu>

        <ng-template #noTrainers>
          <div>No Trainers added, please use add trainer feature</div>
        </ng-template>
      </ng-container>
    </div>
  </div>
  <div class="add-training__controls">
    <app-button [content]="'Cancel'" [outlined]="false"></app-button>
    <app-button [content]="'Add'" [disabled]="!trainingForm.valid"></app-button>
  </div>
</form>
