.add-trainer-component {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 300px;
  &__comment {
    margin-bottom: 44px;
  }
}

.table-container {
  display: flex;
  gap: 16.2rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 8rem;
  }
}

:host {
  & app-button {
    align-self: baseline;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  min-width: 12rem;
  padding-top: 5rem;
}
