<header class="header" #header>
  <fa-icon
    class="header__toggler"
    [icon]="headerIcon"
    (click)="toggleAccountBox()"
  ></fa-icon>
  <app-logo (click)="closeSideBar()"></app-logo>
  <app-navigation
    class="hidden sm:block"
    [isMainNav]="true"
    [linksList]="linksList"
  ></app-navigation>
  <ng-container *ngIf="userHeaderData$ | async as userHeaderData">
    <ng-container *ngIf="userHeaderData.isAuthorized; else notAuthorized">
      <div
        *ngIf="userHeaderData.accountData.username"
        #accountDetails
        class="header__account-detailes"
        (click)="toggleAccountBox()"
        tabindex="0"
        (keydown)="handleToggleKeydown($event)"
      >
        <h3 class="text-small-to-medium">
          {{ userHeaderData.accountData.username }}
        </h3>
        <app-custom-img [img]="userHeaderData.accountData.img"></app-custom-img>
      </div>
    </ng-container>
    <app-account-box
      *ngIf="userHeaderData"
      [accountBoxData]="userHeaderData.accountData"
      [isAuthorized]="userHeaderData.isAuthorized"
    >
      <ng-container *ngIf="!userHeaderData.isAuthorized">
        <li class="navigationLinks">
          <a
            [routerLink]="'/sign-in'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeSideBar()"
            >Sign in</a
          >
        </li>
        <li class="navigationLinks">
          <a
            [routerLink]="'/join-us'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeSideBar()"
            >Join us</a
          >
        </li>
      </ng-container>

      <ng-container *ngIf="userHeaderData.isAuthorized">
        <li class="navigationLinks link-icon">
          <fa-icon [icon]="userIcon"></fa-icon>
          <a
            class="link-icon"
            [routerLink]="'/my-account'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeSideBar()"
            >My Account</a
          >
        </li>
        <li class="navigationLinks">
          <span class="link-icon">
            <fa-icon [icon]="moonIcon"></fa-icon> Night Mode
            <app-switcher
              [checked]="darkMode$ | async"
              [id]="'toggler'"
              (change)="toggleDarkMode()"
            ></app-switcher>
          </span>
        </li>
      </ng-container>
    </app-account-box>
  </ng-container>
</header>

<!-- Is Authorzized Template -->
<!-- This is displayed in case theuser iz not authorized -->

<ng-template #notAuthorized>
  <ng-container *ngIf="(signInPage$ | async) !== true">
    <div class="btn-container">
      <app-button
        [content]="'Sign in'"
        [outlined]="false"
        [btnSize]="buttonSize.SMALL"
        (click)="navigateToSignInPage()"
      ></app-button>
      <app-button
        [content]="'Join us'"
        [btnSize]="buttonSize.SMALL"
        (click)="navigateToJoinUsPage()"
      ></app-button>
    </div>
  </ng-container>
</ng-template>
